iOS/OgreGameKit.xcodeproj/project.xcworkspace/xcuserdata
iOS/OgreGameKit.xcodeproj/xcuserdata
OSX/OgreGameKit.xcodeproj/project.xcworkspace/xcuserdata
OSX/OgreGameKit.xcodeproj/xcuserdata
*.mesh.xml
*.skeleton.xml
